body
{
	background-color: #40BA93;
}

#box_dragon_02
{
	position: fixed;
	z-index: -10;
	right: -200px;
	top: -700px;
	display: block;
	width: 1350px;
	height: 1350px;
	transform: rotate(360deg);
	animation: rtl linear 20s infinite;
	background: url('../img/bk_b4_dragon_02.png') center center no-repeat;
}