body
{
	background-color: #4A5484;
}

#box_dragon
{
	position: fixed;
	z-index: -6;
	bottom: 70px;
	left: 23%;
	display: block;
	width: 120px;
	height: 120px;
	background: url('../img/sprites-01.png') no-repeat;
	background-position: -221px -30px;
}

#box_vik
{
	position: fixed;
	z-index: -7;
	right: 20%;
	bottom: 120px;
	display: block;
	width: 200px;
	height: 160px;
	background: url('../img/sprites-01.png') no-repeat;
	background-position: -5px -2px;
}