- var pageTitle = "Miguel Rivas"
- var site = "Miguel Rivas"
- var fbPreview = "https://miguel-rivas.github.io/img/pv_portfolio.png"
- var icoPath = "https://miguel-rivas.github.io/img/favicon.png"
- var icoBackground = "#D83434"
- var description = "Portfolio | Front-end Developer"
- var keyWords = "aguacate, aguacatekun, santo, domingo, republica, dominicana, front, end, developer"