$f_amatic: 'Amatic SC', helvetica, sans-serif, verdana;
$f_ubuntu: 'Ubuntu', helvetica, sans-serif, verdana;
$f_mono: 'Courier 10 Pitch', 'Mono Uralic', 'Courier New', Courier;
$f_pacifico: 'Pacifico', helvetica, sans-serif, verdana;
$f_quicksand: 'Montserrat', helvetica, sans-serif, verdana;
$f_lgothic: 'Roboto Slab', helvetica, sans-serif, verdana;
$f_montserrat: 'Montserrat', helvetica, sans-serif, verdana;

$alizarin: #fc4e53;
$alizarin2: #bd3b3e;

$chartreuse: #d6de23;
$chartreuse2: #a3cd39;

$aqua: #21e097;
$aqua2: #11c766;

$mustard: #edcc0a;

$brown: #764623;
$blue: #4369bb;
$purple: #401652;

$transition: 500ms;