section#contacts
	.container
		.info_box
			img.preview(src="img/e006.png", alt="preview")
			+contactMe()

		canvas#st01.rst(width="450", height="500")
		canvas#st01_2.lst(width="450", height="500")

		canvas#st02.rst(width="450", height="500")
		canvas#st02_2.lst(width="450", height="500")

		canvas#st03.rst(width="450", height="500")
		canvas#st03_2.lst(width="450", height="500")

		canvas#st04.rst(width="450", height="500")
		canvas#st04_2.lst(width="450", height="500")

		canvas#st05.rst(width="600", height="500")
		canvas#st05_2.lst(width="600", height="500")

	#bird_01.bird
	#bird_02.bird
	#bird_03.bird