footer
	img#box_wheel.rtr(src="img/w004.png", alt="wheel")
	img#box_wheel_base(src="img/e005.png", alt="wheel_base")
	#box_sky1
	#box_city

aside
	#box_dragon
	#box_dragon_02
	#box_tree
	#box_tree_02
	#box_moon
	#box_vik