section#home
	.container
		#screen
			+txt01()
			+txt02()
			+txt03()
		img.preview(src="img/e001.png", alt="pv_windows")
		canvas#w_01.wheel.rtr(width="180", height="180")
		canvas#w_02.wheel.rtr(width="160", height="160")
		canvas#w_03.wheel.rtl(width="52", height="52")
		canvas#w_04.wheel.rtl(width="100", height="100")
		canvas#w_05.wheel.rtr(width="180", height="180")
		canvas#w_06.wheel.rtl(width="125", height="125")
		a#arrow_l(href="javascript:void(0)")
		a#arrow_r(href="javascript:void(0)")