nav
	.fix
		a(href="../")
			img#logo(src="img/e004.png", alt="logo")
		a#btn_home(href="javascript:void(0)")
			span(lang="spa") Inicio
			span(lang="eng") Home
		| //
		a#btn_portfolio(href="javascript:void(0)")
			span(lang="spa") Portafolio
			span(lang="eng") Portfolio
		| //
		a#btn_prototypes(href="javascript:void(0)")
			span(lang="spa") Prototipos
			span(lang="eng") Prototypes
		| //
		a#btn_experiments(href="javascript:void(0)")
			span(lang="spa") Experimentos
			span(lang="eng") Experiments
		| //
		a#btn_contacts(href="javascript:void(0)")
			span(lang="spa") Cont&aacute;ctame
			span(lang="eng") Contact Me